__pycache__/
# Jupyter Notebook
**/.ipynb_checkpoints
*.ipynb
# logs
**/logs
# vs code
*.code-workspace
# sensitive informations
service-account-file.json
# data
*.png
*.json
!data/ev_dict_fr_6star.json
!data/ev/ev_dict_fr_6star.json
!**data/translators/*json
!**data/sets/*.json